/*This stylesheet is for customizing buttons, anchors, etc*/

.top-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    align-self: flex-start;
    font-weight: bold;
}

.top-button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    transition: 0.3s;
    cursor: pointer;
}

.bottom-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 3px solid white;
    border-radius: 8px;
    padding: 5px 15px;
    font-weight: bold;
}

.bottom-button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    transition: 0.3s;
    cursor: pointer;
}
/*This divider is to seperate the button elements*/

a {
    color: #F9FAF8;
    text-decoration: none;
}

a:hover {
    color: #3882F6;
}